{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "alias": [
        ["@components", "./src/components"]
        ["@features", "./src/features"]
        ["@images", "./src/assets/images"]
      ]
    }
  }
}
